### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [4]:
# Dependencies and Setup, import the data set
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

In [5]:
#Just to see the data we are working with here
purchase_data

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
5,5,Yalae81,22,Male,81,Dreamkiss,3.61
6,6,Itheria73,36,Male,169,"Interrogator, Blood Blade of the Queen",2.18
7,7,Iskjaskst81,20,Male,162,Abyssal Shard,2.67
8,8,Undjask33,22,Male,21,Souleater,1.10
9,9,Chanosian48,35,Other / Non-Disclosed,136,Ghastly Adamantite Protector,3.58
10,10,Inguron55,23,Male,95,Singed Onyx Warscythe,4.74
11,11,Haisrisuir60,23,Male,162,Abyssal Shard,2.67
12,12,Saelaephos52,21,Male,116,Renewed Skeletal Katana,4.18
13,13,Assjaskan73,22,Male,4,Bloodlord's Fetish,1.70
14,14,Saesrideu94,35,Male,165,Bone Crushing Silver Skewer,4.86
15,15,Lisassa64,21,Female,98,"Deadline, Voice Of Subtlety",2.89
16,16,Lisirra25,20,Male,40,Second Chance,2.52
17,17,Zontibe81,21,Male,161,Devine,1.76
18,18,Reunasu60,22,Female,82,Nirvana,4.90
19,19,Chamalo71,30,Male,89,"Blazefury, Protector of Delusions",4.64
20,20,Iathenudil29,20,Male,57,"Despair, Favor of Due Diligence",4.60
21,21,Phiarithdeu40,20,Male,168,"Sun Strike, Jaws of Twisted Visions",1.48
22,22,Siarithria38,38,Other / Non-Disclosed,24,Warped Fetish,3.81
23,23,Eyrian71,40,Male,151,Severance,3.40
24,24,Siala43,30,Male,141,Persuasion,3.19
25,25,Lisirra87,29,Male,178,"Oathbreaker, Last Hope of the Breaking Storm",4.23
26,26,Lirtossa84,11,Male,71,Demise,1.61
27,27,Eusri44,7,Male,96,Blood-Forged Skeletal Spine,3.09
28,28,Aela59,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",4.32
29,29,Tyida79,24,Male,37,"Shadow Strike, Glory of Ending Hope",3.16
...,...,...,...,...,...,...,...
750,750,Iljask75,22,Male,167,"Malice, Legacy of the Queen",3.61
751,751,Lisjaskan36,11,Male,180,Stormcaller,3.36
752,752,Mindjasksya61,17,Male,112,Worldbreaker,2.60
753,753,Frichirranya75,36,Male,178,"Oathbreaker, Last Hope of the Breaking Storm",4.23
754,754,Pheosurllorin41,23,Female,79,"Alpha, Oath of Zeal",4.05
755,755,Raesty92,12,Male,76,Haunted Bronzed Bludgeon,3.15
756,756,Ilast79,20,Male,73,Ritual Mace,2.05
757,757,Eratiel90,18,Male,57,"Despair, Favor of Due Diligence",4.60
758,758,Iral74,21,Male,182,Toothpick,4.03
759,759,Tyaelorap29,25,Male,72,Winter's Bite,3.77
760,760,Aithelis62,21,Male,44,Bonecarvin Battle Axe,2.38
761,761,Assim27,45,Male,17,"Lazarus, Terror of the Earth",1.70
762,762,Asur53,26,Male,110,Suspension,1.44
763,763,Lassilsala30,21,Male,85,Malificent Bag,1.75
764,764,Saedaiphos46,18,Male,113,Solitude's Reaver,4.07
765,765,Irith83,18,Male,130,Alpha,2.07
766,766,Aelastirin39,23,Male,58,"Freak's Bite, Favor of Holy Might",4.14
767,767,Ilmol66,8,Female,92,Final Critic,4.88
768,768,Assassasta79,38,Male,92,Final Critic,4.88
769,769,Ilosian36,15,Male,145,Fiery Glass Crusader,4.58
770,770,Lirtosia63,34,Male,12,Dawne,1.02
771,771,Iskossasda43,16,Male,25,Hero Cane,4.35
772,772,Asur53,26,Male,136,Ghastly Adamantite Protector,3.58
773,773,Hala31,21,Male,19,"Pursuit, Cudgel of Necromancy",1.02
774,774,Jiskjask80,11,Male,101,Final Critic,4.19
775,775,Aethedru70,21,Female,60,Wolf,3.54
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,101,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

## Player Count

* Display the total number of players

In [113]:
#define total players and display
#check the data and look for duplicates
total_players = purchase_data["SN"]
total_players = total_players.drop_duplicates()
total_players = total_players.count()
#set up table that will show this total, set up a function to show and use pd.DataFrame
pd.DataFrame({'Total Players': [total_players]})

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [114]:
#Use the data to summarize the data from the total of 780
#set up variables and solve each piece in the requested data frame
unique_items = purchase_data["Item ID"].nunique() #nunique function removes NA variables and counts

#find average price

average_price = (purchase_data["Price"].mean())

#round average price to only 2 places
rounded_average_price = round(average_price, 2)

#find total number of purchases
number_of_purchases = purchase_data["Purchase ID"].count()

#find total revenue
total_revenue = purchase_data["Price"].sum()

In [115]:
#Show variables in data frame:
summaries_df = pd.DataFrame([{"Number of Unique Items": unique_items, "Average Price": rounded_average_price, "Number of Purchase": number_of_purchases, "Total Revenue": total_revenue}])
#add the dollar sign using .map format
summaries_df["Average Price"] = summaries_df["Average Price"].map("${:.2f}".format)
summaries_df["Total Revenue"] = summaries_df["Total Revenue"].map("${:.2f}".format)
#set up order of columns
summaries_df = summaries_df[["Number of Unique Items", "Average Price", "Number of Purchase", "Total Revenue"]]
summaries_df

   Number of Unique Items Average Price  Number of Purchase Total Revenue
0                     183         $3.05                 780      $2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [40]:
groupedby = purchase_data.groupby(['Gender'])
gender_counts = groupedby['SN'].nunique()
sum_gender_counts = gender_counts.sum()

male_count = gender_counts['Male']
male_percent = (male_count/sum_gender_counts) * 100

female_count = gender_counts['Female']
female_percent = (female_count/sum_gender_counts) * 100


other_count = gender_counts['Other / Non-Disclosed']
other_percent = (other_count/sum_gender_counts) * 100

gender_df = pd.DataFrame(gender_counts)
gender_df['Percents'] = [male_percent, female_percent, other_percent]
gender_df["Percents"] = gender_df["Percents"].map("{:.2f}".format)
gender_df.columns = ["Total Count", "Percentage"]

gender_df

                       Total Count Percentage
Gender
Female                          81      84.03
Male                           484      14.06
Other / Non-Disclosed           11       1.91


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [133]:
total_item_count_by_gender = purchase_data.groupby('Gender')['Item ID'].count()
total_spent_by_gender = purchase_data.groupby('Gender')['Price'].sum()
max_cost_by_gender = purchase_data.groupby('Gender')['Price'].max()
min_cost_by_gender = purchase_data.groupby('Gender')['Price'].min()
avg_cost_by_gender = purchase_data.groupby('Gender')['Price'].mean()

avg_spent_by_female = total_spent_by_gender.Female / gender_counts.Female
avg_spent_by_male = total_spent_by_gender.Male / gender_counts.Male
avg_spent_by_other = total_spent_by_gender["Other / Non-Disclosed"] / gender_counts["Other / Non-Disclosed"]

myList = [{"Total Items": total_item_count_by_gender.Female, "Total Purchases": total_spent_by_gender.Female,
            "Avg Spent per Player": avg_spent_by_female, "Average Purchase Price": avg_cost_by_gender.Female},
           {"Total Items": total_item_count_by_gender.Male, "Total Purchases": total_spent_by_gender.Male,
            "Avg Spent per Player": avg_spent_by_male, "Average Purchase Price": avg_cost_by_gender.Male},
           {"Total Items": total_item_count_by_gender["Other / Non-Disclosed"],
            "Total Purchases": total_spent_by_gender["Other / Non-Disclosed"], "Avg Spent per Player": avg_spent_by_other,
            "Average Purchase Price": avg_cost_by_gender["Other / Non-Disclosed"]}]

gender_totals_df = pd.DataFrame(myList)
gender_totals_df.rename(index={0:'Female', 1:'Male', 2:'Other'}, inplace=True)

gender_totals_df["Average Purchase Price"] = gender_totals_df["Average Purchase Price"].map("${:.2f}".format)
gender_totals_df["Total Purchases"] = gender_totals_df["Total Purchases"].map("${:.2f}".format)
gender_totals_df["Avg Spent per Player"] = gender_totals_df["Avg Spent per Player"].map("${:.2f}".format)
# Change column order
gender_totals_df = gender_totals_df[['Average Purchase Price','Total Items', 'Total Purchases', 'Avg Spent per Player']]

gender_totals_df

,Average Purchase Price,Total Items,Total Purchases,Avg Spent per Player
Female,$3.20,113,$361.94,$4.47
Male,$3.02,652,$1967.64,$4.07
Other,$3.35,15,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [84]:
age_bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99999]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

purchase_data["Age Ranges"] = pd.cut(purchase_data["Age"], age_bins, labels=group_names)

groupedby_ages = purchase_data.groupby('Age Ranges')
age_counts = groupedby_ages['SN'].nunique()   
total_unique_players = age_counts.sum()

age_list = [{"Total Count": age_counts["<10"], "Percentage": (age_counts["<10"] * 100) / total_unique_players},
            {"Total Count": age_counts["10-14"], "Percentage": (age_counts["10-14"] * 100) / total_unique_players},
            {"Total Count": age_counts["15-19"], "Percentage": (age_counts["15-19"] * 100) / total_unique_players},
            {"Total Count": age_counts["20-24"], "Percentage": (age_counts["20-24"] * 100) / total_unique_players},
            {"Total Count": age_counts["25-29"], "Percentage": (age_counts["25-29"] * 100) / total_unique_players},
            {"Total Count": age_counts["30-34"], "Percentage": (age_counts["30-34"] * 100) / total_unique_players},
            {"Total Count": age_counts["35-39"], "Percentage": (age_counts["35-39"] * 100) / total_unique_players},
            {"Total Count": age_counts["40+"], "Percentage": (age_counts["40+"] * 100) / total_unique_players}]

summary_ages_df = pd.DataFrame(age_list)
summary_ages_df.rename(index={0:'<10', 1:'10-14', 2:'15-19', 3:'20-24', 4:'25-29', 5:'30-34', 6:'35-39', 7:'40+'}, inplace=True)
summary_ages_df["Percentage"] = summary_ages_df["Percentage"].map("{:.2f}%".format)
summary_ages_df = summary_ages_df[["Total Count", "Percentage"]]

summary_ages_df

       Total Count Percentage
<10             17      2.95%
10-14           22      3.82%
15-19          107     18.58%
20-24          258     44.79%
25-29           77     13.37%
30-34           52      9.03%
35-39           31      5.38%
40+             12      2.08%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [138]:
# Can use the previously determined DataFrame
groupedby_age_range = purchase_data.groupby("Age Ranges")
total_item_count_by_age = groupedby_age_range['Item ID'].count()
total_spent_by_age = groupedby_age_range['Price'].sum()
max_cost_by_age = groupedby_age_range['Price'].max()
min_cost_by_age = groupedby_age_range['Price'].min()
avg_cost_by_age = groupedby_age_range['Price'].mean()

# avg_cost_by_age from In[7]
age_purchase_list = [{"Average Purchase Price": avg_cost_by_age["<10"], "Purchase Count": total_item_count_by_age["<10"],
                      "Total Purchases": total_spent_by_age["<10"], "Avg Spent per Player": total_spent_by_age["<10"] / age_counts["<10"]},
                     {"Average Purchase Price": avg_cost_by_age["10-14"], "Purchase Count": total_item_count_by_age["10-14"],
                      "Total Purchases": total_spent_by_age["10-14"], "Avg Spent per Player": total_spent_by_age["10-14"] / age_counts["10-14"]},
                     {"Average Purchase Price": avg_cost_by_age["15-19"], "Purchase Count": total_item_count_by_age["15-19"],
                      "Total Purchases": total_spent_by_age["15-19"], "Avg Spent per Player": total_spent_by_age["15-19"] / age_counts["15-19"]},
                     {"Average Purchase Price": avg_cost_by_age["20-24"], "Purchase Count": total_item_count_by_age["20-24"],
                      "Total Purchases": total_spent_by_age["20-24"], "Avg Spent per Player": total_spent_by_age["20-24"] / age_counts["20-24"]},
                     {"Average Purchase Price": avg_cost_by_age["25-29"], "Purchase Count": total_item_count_by_age["25-29"],
                      "Total Purchases": total_spent_by_age["25-29"], "Avg Spent per Player": total_spent_by_age["25-29"] / age_counts["25-29"]},
                     {"Average Purchase Price": avg_cost_by_age["30-34"], "Purchase Count": total_item_count_by_age["30-34"],
                      "Total Purchases": total_spent_by_age["30-34"], "Avg Spent per Player": total_spent_by_age["30-34"] / age_counts["30-34"]},
                     {"Average Purchase Price": avg_cost_by_age["35-39"], "Purchase Count": total_item_count_by_age["35-39"],
                      "Total Purchases": total_spent_by_age["35-39"], "Avg Spent per Player": total_spent_by_age["35-39"] / age_counts["35-39"]},
                     {"Average Purchase Price": avg_cost_by_age["40+"], "Purchase Count": total_item_count_by_age["40+"],
                      "Total Purchases": total_spent_by_age["40+"], "Avg Spent per Player": total_spent_by_age["40+"] / age_counts["40+"]}]

summary_purchases_by_age_df = pd.DataFrame(age_purchase_list)

# Formatting
summary_purchases_by_age_df["Total Purchases"] = summary_purchases_by_age_df["Total Purchases"].map("${:.2f}".format)
summary_purchases_by_age_df["Avg Spent per Player"] = summary_purchases_by_age_df["Avg Spent per Player"].map("${:.2f}".format)
summary_purchases_by_age_df["Average Purchase Price"] = summary_purchases_by_age_df["Average Purchase Price"].map("${:.2f}".format)
# Rename indexes
summary_purchases_by_age_df.rename(index={0:'<10', 1:'10-14', 2:'15-19', 3:'20-24', 4:'25-29', 5:'30-34',
                                          6:'35-39', 7:'40+'}, inplace=True)
# change coumn order
summary_purchases_by_age_df = summary_purchases_by_age_df[['Average Purchase Price','Purchase Count', 'Total Purchases',
                                                           'Avg Spent per Player']]

summary_purchases_by_age_df

,Average Purchase Price,Purchase Count,Total Purchases,Avg Spent per Player
<10,$3.35,23,$77.13,$4.54
10-14,$2.96,28,$82.78,$3.76
15-19,$3.04,136,$412.89,$3.86
20-24,$3.05,365,$1114.06,$4.32
25-29,$2.90,101,$293.00,$3.81
30-34,$2.93,73,$214.00,$4.12
35-39,$3.60,41,$147.67,$4.76
40+,$2.94,13,$38.24,$3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [98]:
groupedby_player = purchase_data.groupby(['SN'])
total_spent_player = groupedby_player['Price'].sum()
items_per_player = groupedby_player['Price'].count()

player_list_df = pd.DataFrame(total_spent_player)
player_list_df['Purchase Count'] = items_per_player
player_list_df['Average Purchase Price'] = total_spent_player / items_per_player
player_list_df.columns = ["Total Purchase Value", "Purchase Count", "Average Purchase Price"]
player_list_df
# Formatting
player_list_df["Average Purchase Price"] = player_list_df["Average Purchase Price"].map("${:.2f}".format)
player_list_df.sort_values(by='Total Purchase Value', ascending=False, inplace=True)
player_list_df["Total Purchase Value"] = player_list_df["Total Purchase Value"].map("${:.2f}".format)

player_list_df.head(5)

            Total Purchase Value  Purchase Count Average Purchase Price
SN
Lisosia93                 $18.96               5                  $3.79
Idastidru52               $15.45               4                  $3.86
Chamjask73                $13.83               3                  $4.61
Iral74                    $13.62               4                  $3.40
Iskadarya95               $13.10               3                  $4.37

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [34]:
popular_item_df = purchase_data.loc[:, 'Item ID':'Price'].copy()
groupedby_popular = popular_item_df.groupby(['Item ID', 'Item Name'])

total_purchases = groupedby_popular['Price'].sum()
num_items_purchased = groupedby_popular['Item ID'].count()

# Create dataframe from groupby values
popular_df = pd.DataFrame(num_items_purchased)
popular_df['Total Purchase Value'] = total_purchases
popular_df.columns = ["Purchase Count", "Total Purchase Value"]
popular_df = popular_df.sort_values(by='Item ID')

# Create prices dataframe
prices_df = purchase_data[['Item ID', 'Item Name', 'Price']]
prices_nodup_df = prices_df.drop_duplicates(['Item ID'], keep = 'last')
prices_post_df = prices_nodup_df.sort_values(by=['Item ID'])
prices_post_df.set_index(['Item ID', 'Item Name'], inplace=True)
# Join the 2 dataframes
popular_df = popular_df.join(prices_post_df)

# Copy for most profitable list below because formatting screws up sorting!)
profit_df = popular_df

# Sort by Purchase Count and format
popular_df = popular_df.sort_values(by='Purchase Count', ascending=False)
popular_df["Price"] = popular_df["Price"].map("${:.2f}".format)
popular_df["Total Purchase Value"] = popular_df["Total Purchase Value"].map("${:.2f}".format)

popular_df.head()

,,Purchase Count,Total Purchase Value,Price
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$50.76,$4.23
145,Fiery Glass Crusader,9,$41.22,$4.58
108,"Extraction, Quickblade Of Trembling Hands",9,$31.77,$3.53
82,Nirvana,9,$44.10,$4.90
19,"Pursuit, Cudgel of Necromancy",8,$8.16,$1.02

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [36]:
# Sort by Total Purchase Value and format
profit_df = profit_df.sort_values(by='Total Purchase Value', ascending=False)
profit_df["Price"] = profit_df["Price"].map("${:.2f}".format)
profit_df["Total Purchase Value"] = profit_df["Total Purchase Value"].map("${:.2f}".format)

profit_df.head()

,,Purchase Count,Total Purchase Value,Price
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$50.76,$4.23
82,Nirvana,9,$44.10,$4.90
145,Fiery Glass Crusader,9,$41.22,$4.58
92,Final Critic,8,$39.04,$4.88
103,Singed Scalpel,8,$34.80,$4.35

In [ ]:
#3 OBSERVABLE TRENDS

#1. There are many more males who spend on average than females
#2. Most of the players were between ages 20-24
#3. The most popular and popular item, oathbreaker, is the most expensive and purchased the most, a cash cow!